.aboutUs {
  display: flex;
  background: #F6F6F8;
  color: black;
  padding: 100px 0 70px;
  position: relative;
}
.aboutUs .aboutUs_line {
  border-top: 1px solid gray;
  margin-top: 90px;
}
.aboutUs__title {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 53px;
  color: #323232;
  margin-top: 52px;
  margin-bottom: 40px;
}
.aboutUs__subtitle {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
  color: #999999;
  margin-bottom: 30px;
  max-width: 489px;
}
.aboutUs__descr {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #4985FF;
}
.aboutUs__image {
  width: 500px;
  height: 400px;
  margin-left: 121px;
}

.aboutUs__numbers {
  margin-top: 70px;
}
.aboutUs__numbers .column {
  width: 104px;
  height: 67px;
  margin-left: 100px;
}
.aboutUs__numbers .column__top {
  display: flex;
  align-items: center;
}
.aboutUs__numbers .column__price {
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 53px;
  color: #000000;
  margin-left: 20px;
}
.aboutUs__numbers .column__img {
  width: 30px;
  height: 30px;
}