.footer {
  background: #F6F6F8;
  padding: 70px 0 30px;
}
.footer__block {
  margin-right: 100px;
  padding-bottom: 70px;
}
.footer__linkTitle {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  margin-bottom: 35px;
  min-width: 242px;
}
.footer__linkIcon {
  margin-bottom: 30px;
  margin-right: 10px;
}
.footer__link {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #999999;
  margin-bottom: 30px;
}
.footer__line {
  border-top: 1px solid gray;
}
.footer__txt {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 21px;
  text-align: center;
  color: #999999;
  padding-top: 30px;
}