.containerAboutUs{
  padding-left: 0;
}
.aboutUs {
  background: #F6F6F8;
  padding: 100px 0 70px;
  .aboutUs_line{
    border-top: 1px solid gray;
    margin-top: 90px;
  }
  &__image{
  }
  &__title {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 53px;
    color: #323232;
    margin-top: 52px;
    margin-bottom: 40px;
    max-width: 424px;
  }
  &__subtitle {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    color: #999999;
    margin-bottom: 30px;
    max-width: 489px;
    margin-right: 121px;
  }
  &__descr {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-decoration-line: underline;
    color: #4985FF;
  }
}
.aboutUs__numbers{
  margin-top: 70px;

  .column{
    width: 104px;
    height: 67px;
    margin-left: 100px;
    &:first-child{
      margin-left: 0;
    }
    &__text{
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 25px;
      color: #999999;
    }
    &__top{
      display: flex;
      align-items: center;
    }
    &__price{
      font-style: normal;
      font-weight: normal;
      font-size: 36px;
      line-height: 53px;
      color: #000000;
      margin-left: 20px;
    }
    &__img{
      width: 30px;
      height: 30px;
    }
  }
}