.footer{
  background: #F6F6F8;
  padding: 70px 0 30px;
  &__block{
    margin-right: 43px;
    padding-bottom: 70px;
    &:last-child{
      margin-right: 0;
    }
  }
  &__linkTitle{
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
    margin-bottom: 35px;
    max-width: 242px;
  }
  &__linkIcon{
    margin-bottom: 30px;
    margin-right: 10px;
  }
  &__link{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #999999;
    margin-bottom: 30px;

  }
  &__line{
    border-top: 1px solid gray;
  }
  &__txt{
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 21px;
    text-align: center;
    color: #999999;
    padding-top: 30px;

  }
}